@media only screen and (max-width: 1400px) {
    /* .wrapper{
        background-color: red !important;
    } */

    #logo{
        top: 2rem;
        left: 13.5rem;
    }
    #logoText1{
        left: 48.5rem;
        top: 12.7rem;
        font-size: 3.75rem;
    }
    #logoText2{
        left: 48.5rem;
        top: 23.7rem;
        font-size: 3.75rem;
    }

    #mainTitle{
        top: 13rem;
        left: 16rem;
        font-size: 6.5rem;
    }

    #arrow{
        max-width: 7rem;
        max-height: 7rem;
        height: auto;
        width: auto;
    }

    #arrowWrapper{
        position: absolute;
        top: 92vh;
        left: 47vw;
    }

    #subTitle{
        top: 19.2rem;
        left: 17rem;
        font-size: 1.6rem;
    }

    #navWrapper{
        margin-right: calc(11rem - 3rem);
        padding-top: 2rem;
    }
    .navli{
        font-size: 1.25rem;
    }

    #posterBtn{
        padding: 0.7rem 2.5rem 0.7rem 2.5rem;
        top: 23rem;
        left: 17rem;
        font-size: 1.6rem;
    }


}

@media only screen and (max-width: 1825px) {

    #message{
        padding-top: 4% !important;
    }
    #mailWrapper{
        font-size: 1.1rem;
    }
    #contactOverlay2{
        bottom: -101%;
    }

    #contactOverlay1{
        top: -101%;
    }
}